#ve612 .GraphSkin {
  data-skin : CRISP;
}
#cd387 .If {
  background-color : #44020C;
}
#ve697 .ReportElementContainer {
  padding : 16px;
}
#ve17 .TwoColorRamp1 {
  fill-gradient-start-color : #E9ECEF;
  fill-gradient-end-color : #FFCC32;
}
.Report {
  background-color : #000000;
}
#ve540 .ReportElementContainer {
  padding : 16px;
}
#ve130 .ReportElementContainer {
  padding : 16px;
}
#ve59 .GraphSkin {
  data-skin : CRISP;
}
#ve974 .GraphSkin {
  data-skin : CRISP;
}
#ve588 .span1 {
  font-size : 20px;
}
#ve1294 .styleForTitle_span6 {
  font-size : 20px;
}
#ve76 .ReportElementContainer {
  padding : 16px;
}
#ve588 .span2 {
  font-weight : bold;
}
#ve76 .GraphSkin {
  data-skin : CRISP;
}
#ve130 .measurebi376 {
  width : 159px;
  fill-color : #F9EDC6;
}
#ve17 .LegendFill {
  transparency : 1;
}
#ve1320 .ReportElementContainer {
  padding : 16px;
}
#ve588 .span3 {
  font-weight : bold;
}
#ve612 .LegendFill {
  transparency : 1;
}
#ve410 .LegendFill {
  transparency : 1;
}
#ve574 .span3 {
  font-size : 48px;
}
#ve574 .span2 {
  font-weight : bold;
}
#ve574 .span1 {
  font-size : 60px;
}
#ve574 .span7 {
  font-size : 36px;
}
#ve574 .span6 {
  font-weight : bold;
}
#ve574 .span5 {
  font-size : 60px;
}
#ve574 .span4 {
  font-weight : bold;
}
#ve130 .ColumnHeader {
  font-size : 12pt;
}
#ve130 .hierarchybi140 {
  width : 101px;
}
#ve697 .Container {
  background-color : #011829;
  transparency : 0.1;
  border-width : 1px;
  border-color : #B0B7C2;
}
#ve59 .ReportElementContainer {
  padding : 16px;
}
#ve130 .measurebi144 {
  width : 68px;
}
#ve574 .ReportElementContainer {
  padding : 16px;
}
#ve540 .styleForTitle_span1 {
  font-size : 20px;
}
#ve130 .styleForTitle_span3 {
  font-size : 20px;
}
#ve130 .RowHeader {
  font-size : 12pt;
}
#ve410 .ReportElementContainer {
  padding : 16px;
}
#ve612 .GraphDataStyle1 {
  marker-color : #FFFFFF;
  text-color : #FFFFFF;
  line-color : #FFFFFF;
}
#ve612 .GraphDataStyleDefault {
  marker-color : #FFFFFF;
  text-color : #FFFFFF;
  line-color : #FFFFFF;
}
#ve555 .styleForTitle_span2 {
  font-size : 20px;
}
#ve1310 .ReportElementContainer {
  padding : 16px;
}
#ve1271 .ReportElementContainer {
  padding : 16px;
}
#ve974 .styleForTitle_span4 {
  font-size : 20px;
}
#ve1294 .ReportElementContainer {
  padding : 16px;
}
#ve1333 .ReportElementContainer {
  padding : 16px;
}
#ve17 .TwoColorRamp {
  fill-gradient-start-color : #E9ECEF;
  fill-gradient-end-color : #FFCC32;
}
#ve17 .GraphSkin {
  data-skin : NONE;
}
#ve612 .ReportElementContainer {
  padding : 16px;
}
#ve130 .MeasureHeader {
  font-size : 10pt;
}
#ve130 .Table {
  horizontal-line-style : none;
  vertical-line-style : none;
  font-size : 12pt;
  border-style : solid;
  alt-row-color : #011829;
}
#ve612 .styleForTitle_span7 {
  font-size : 20px;
}
#ve59 .LegendFill {
  transparency : 1;
}
.ReportElementContainer {
  padding : 0px;
}
#ve691 .span2 {
  font-weight : bold;
}
#ve691 .span3 {
  font-weight : bold;
}
#ve974 .ReportElementContainer {
  padding : 16px;
}
#ve691 .span1 {
  font-weight : bold;
}
#vi6 .ReportPagePadding {
  padding : 0px;
}
#ve588 .ReportElementContainer {
  padding : 16px;
}
#ve410 .styleForTitle_span5 {
  font-size : 20px;
}
#ve555 .ReportElementContainer {
  padding : 16px;
}
#ve17 .ReportElementContainer {
  padding : 16px;
}
#ve1320 .styleForTitle_span8 {
  font-size : 20px;
}
#ve658 .Table {
  wrap-text : normal;
  display-opts : retainnewline;
}
