

#cd90 .If {
  color: #FFFFFF;
}
#cd84 .If {
  color: #2AB969;
}
#ve15 .GraphSkin {
  data-skin: FLAT;
}
#cd129 .If {
  color: #B0E8D3;
}
#cd82 .If {
  color: #7AF3B0;
}
#ve101 .ReportElementContainer {
  padding: 0px;
}
#vi6 .ReportPagePadding {
  padding: 0px;
}
#cd86 .If {
  color: #DC137D;
}
.Report {
  background-color: #022954;
}
#cd88 .If {
  color: #0766D0;
}
#ve15 .ReportElementContainer {
  padding: 0px;
}

			