

#ve764 .styleForTitle_span2 {
  font-weight: bold;
}
#ve1806 .GraphSkin {
  data-skin: NONE;
}
#ve1775 .GraphSkin {
  data-skin: NONE;
}
.KPIValueText {
  font-family: Anova;
}
#ve1713 .GraphDataStyle1 {
  fill-color: #CCA937;
}
#ve541 .GraphDataStyleDefault {
  fill-color: #70E0D3;
}
#ve1150 .styleForTitle_span3 {
  font-weight: bold;
}
.DataText {
  font-family: Anova;
}
.KeyText {
  font-family: Anova;
}
.Report {
  background-color: #000000;
}
#ve1085 .ReportElementContainer {
  padding: 16px;
}
#ve1085 .span7 {
  font-weight: bold;
}
#ve1085 .span6 {
  font-size: 22px;
}
#ve1085 .span5 {
  font-weight: bold;
}
#ve1085 .span4 {
  font-size: 22px;
}
#ve520 .ReportElementContainer {
  padding: 16px;
}
#ve764 .GraphSkin {
  data-skin: CRISP;
}
#ve1085 .span3 {
  font-size: 40px;
}
#ve1085 .span2 {
  font-weight: bold;
}
#ve1085 .span1 {
  font-size: 60px;
}
#ve1082 .ReportElementContainer {
  padding: 16px;
}
#ve1366 .span1 {
  font-size: 24px;
}
#ve520 .GraphDataStyleDefault {
  fill-color: #FF8224;
}
#ve1150 .ReportElementContainer {
  padding: 16px;
}
#ve520 .GraphDataStyle1 {
  fill-color: #FF8224;
}
#ve873 .GraphSkin {
  data-skin: CRISP;
}
#ve1464 .GraphDataStyleDefault {
  fill-color: #CCA937;
}
#ve96 .styleForTitle_span1 {
  font-weight: bold;
}
#ve1464 .ReportElementContainer {
  padding: 16px;
}
* {
  font-family: Anova;
}
#ve1744 .GraphSkin {
  data-skin: NONE;
}
#ve1090 .ReportElementContainer {
  padding: 16px;
}
.ValueText {
  font-family: Anova;
}
.KPIRangeText {
  font-family: Anova;
}
#ve1630 .ReportElementContainer {
  padding: 2px;
}
#ve1564 .GraphSkin {
  data-skin: NONE;
}
#ve541 .ReportElementContainer {
  padding: 16px;
}
#ve1464 .GraphSkin {
  data-skin: NONE;
}
#ve1713 .GraphDataStyleDefault {
  fill-color: #CCA937;
}
.TitleText {
  font-family: Anova;
}
#ve1464 .GraphDataStyle1 {
  fill-color: #CCA937;
}
#ve499 .ReportElementContainer {
  padding: 16px;
}
#ve1090 .span1 {
  font-size: 24px;
}
#ve499 .GraphDataStyleDefault {
  fill-color: #FFCC32;
}
#ve1713 .GraphSkin {
  data-skin: NONE;
}
#ve1090 .span3 {
  font-size: 24px;
}
#ve1090 .span2 {
  font-weight: bold;
}
#ve1150 .Container {
  background-color: #000000;
  transparency: 0.7;
}
#ve1806 .GraphDataStyle1 {
  fill-color: #CCA937;
}
#ve1564 .ReportElementContainer {
  padding: 16px;
}
#ve754 .Table {
  border-style: solid;
}
#vi92 .ReportPagePadding {
  padding: 0px;
}
#ve1806 .GraphDataStyleDefault {
  fill-color: #CCA937;
}
.LabelText {
  font-family: Anova;
}
#ve541 .GraphDataStyle1 {
  fill-color: #70E0D3;
}
#ve97 .infoBarTextBold {
  font-weight: bold;
}
#ve1150 .GraphSkin {
  data-skin: CRISP;
}
#ve97 .infoBarTextUnderline {
  text-decoration: underline;
}
#ve96 .ReportElementContainer {
  padding: 16px;
}
#ve764 .ReportElementContainer {
  padding: 16px;
}
#ve499 .GraphDataStyle1 {
  fill-color: #FFCC32;
}
.ReportElementContainer {
  padding: 0px;
}
#ve97 .infoBarTextTitle {
  font-style: italic;
}
#ve764 .LegendFill {
  transparency: 1;
}
#ve1150 .LegendFill {
  transparency: 1;
}

			