

#ve3688 .styleForTitle_span9 {
  font-weight: bold;
}
#ve3742 .styleForTitle_span22 {
  font-weight: bold;
}
#ve3699 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve3231 .styleForTitle_span4 {
  font-weight: bold;
}
#ve2414 .GraphSkin {
  data-skin: CRISP;
}
#ve7819 .Container {
  background-color: #E9ECEF;
  transparency: 0.7;
  border-width: 1px;
  border-color: #E9ECEF;
}
#ve2480 .styleForTitle_span10 {
  font-weight: bold;
}
#ve3688 .styleForTitle_paragraph7 {
  text-align: center;
}
#ve3634 .styleForTitle_paragraph6 {
  text-align: center;
}
#ve3778 .styleForTitle_span24 {
  font-weight: bold;
}
#ve2361 .styleForTitle_span14 {
  font-weight: bold;
}
#ve2447 .styleForTitle_span15 {
  font-weight: bold;
}
#ve5709 .Container {
  background-color: #112F4E;
  transparency: 0;
}
#ve3675 .span7 {
  color: #0000ff;
}
#ve3675 .span8 {
  font-weight: bold;
}
#ve3675 .span9 {
  color: #0000ff;
}
#ve3675 .span11 {
  color: #0000ff;
}
#ve3675 .span10 {
  font-weight: bold;
}
#ve2558 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve3675 .span3 {
  font-weight: bold;
}
#ve3675 .span4 {
  font-weight: bold;
}
#ve3675 .span5 {
  color: #0000ff;
}
#ve3675 .span6 {
  font-weight: bold;
}
.GraphDataStyleDefault {
  marker-color: #08306B;
  text-color: #08306B;
  fill-color: #08306B;
  line-color: #08306B;
}
#ve3675 .span1 {
  color: #d35400;
}
#ve3675 .span2 {
  text-decoration: underline;
}
#ve2389 .styleForTitle_paragraph5 {
  text-align: center;
}
#ve2480 .TwoColorRamp {
  fill-gradient-start-color: #9DCAE1;
  fill-gradient-end-color: #F1AE43;
}
#ve4444 .TwoColorRamp {
  fill-gradient-end-color: #DD5757;
}
#ve3625 .styleForTitle_paragraph5 {
  text-align: center;
}
#ve2389 .styleForTitle_span7 {
  font-weight: bold;
}
#ve2414 .styleForTitle_span12 {
  font-weight: bold;
}
#ve3249 .styleForTitle_span4 {
  font-weight: bold;
}
#ve4444 .styleForTitle_span13 {
  font-weight: bold;
}
#ve2494 .styleForTitle_span11 {
  font-weight: bold;
}
#ve2380 .styleForTitle_paragraph9 {
  text-align: center;
}
#ve3764 .styleForTitle_span23 {
  font-weight: bold;
}
#ve3625 .styleForTitle_span7 {
  font-weight: bold;
}
.GraphDataStyle3 {
  marker-color: #9DCAE1;
  text-color: #9DCAE1;
  fill-color: #9DCAE1;
  line-color: #9DCAE1;
}
.GraphDataStyle4 {
  marker-color: #C7E3F9;
  text-color: #C7E3F9;
  fill-color: #C7E3F9;
  line-color: #C7E3F9;
}
#ve2480 .GraphSkin {
  data-skin: CRISP;
}
#ve3643 .styleForTitle_span4 {
  font-weight: bold;
}
#ve3711 .styleForTitle_span5 {
  font-weight: bold;
}
.GraphDataStyle1 {
  marker-color: #08306B;
  text-color: #08306B;
  fill-color: #08306B;
  line-color: #08306B;
}
.GraphDataStyle2 {
  marker-color: #1D6CB1;
  text-color: #1D6CB1;
  fill-color: #1D6CB1;
  line-color: #1D6CB1;
}
#ve3711 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve2460 .styleForTitle_span19 {
  font-weight: bold;
}
#ve5709 .span2 {
  color: #FFFFFF;
}
#ve5709 .span1 {
  color: #FFFFFF;
}
#ve3634 .styleForTitle_span8 {
  font-weight: bold;
}
#ve2370 .styleForTitle_span3 {
  font-weight: bold;
}
#ve2511 .styleForTitle_span6 {
  font-weight: bold;
}
#ve5352 .span2 {
  font-weight: bold;
}
#ve2425 .GraphSkin {
  data-skin: CRISP;
}
#ve5352 .span1 {
  color: #d35400;
}
#ve3764 .TwoColorRamp {
  fill-gradient-end-color: #DD5757;
}
#ve2511 .GraphDataStyle6 {
  fill-color: #545B66;
}
#ve5352 .span3 {
  font-weight: bold;
  font-style: italic;
}
#ve7819 .ReportElementContainer {
  padding: 16px;
}
#ve2447 .TwoColorRamp {
  fill-gradient-start-color: #9DCAE1;
  fill-gradient-end-color: #F1AE43;
}
#ve1226 .span1 {
  font-weight: bold;
}
#ve1226 .span2 {
  font-weight: bold;
}
#ve3442 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve1226 .span3 {
  font-weight: bold;
}
#ve1226 .span4 {
  font-weight: bold;
}
#ve3670 .VisualPromptContainer {
  font-weight: bold;
}
#ve2425 .styleForTitle_span18 {
  font-weight: bold;
}
#ve3675 .paragraph3 {
  margin-block: 0px;
}
#ve3675 .paragraph4 {
  margin-block: 0px;
}
#ve3675 .paragraph1 {
  margin-block: 0px;
}
#ve3675 .paragraph2 {
  margin-block: 0px;
}
#ve3699 .styleForTitle_span20 {
  font-weight: bold;
}
#ve3675 .paragraph5 {
  margin-block: 0px;
}
#ve2558 .styleForTitle_span4 {
  font-weight: bold;
}
#ve2361 .styleForTitle_paragraph8 {
  text-align: center;
}
#ve2380 .styleForTitle_span25 {
  font-weight: bold;
}
#ve5709 .paragraph2 {
  text-align: right;
}
#ve5709 .paragraph1 {
  text-align: right;
}
#ve3729 .styleForTitle_span21 {
  font-weight: bold;
}
#ve2370 .styleForTitle_paragraph2 {
  text-align: center;
}

			