

#ve9556 .Container {
  background-color: #08306B;
  transparency: 0;
}
#ve7668 .GraphDataStyleDefault {
  fill-color: #B0B7C2;
}
#ve9579 .Container {
  background-color: #08306B;
  transparency: 0;
}
#cd8558 .If {
  color: #DD5757;
}
#cd8681 .If {
  color: #DD5757;
}
#ve8832 .GraphSkin {
  data-skin: CRISP;
}
#ve9554 .ReportElementContainer {
  padding: 7px;
}
.GraphDataStyleDefault {
  marker-color: #08306B;
  text-color: #08306B;
  fill-color: #08306B;
  line-color: #08306B;
}
#ve8861 .LegendFill {
  transparency: 1;
}
#ve9467 .Container {
  background-color: #08306B;
  transparency: 0;
}
#ve9596 .Container {
  background-color: #08306B;
  transparency: 0;
}
#ve7717 .ReportElementContainer {
  padding: 0px;
}
#cd8470 .If {
  color: #DD5757;
}
#ve9354 .ReportElementContainer {
  padding: 5px;
}
#ve7613 .LegendFill {
  transparency: 1;
}
#ve7587 .Container {
  background-color: #112F4E;
  transparency: 0;
}
#ve7717 .styleForTitle_span2 {
  font-weight: bold;
}
#ve9369 .span1 {
  font-size: 20px;
}
#ve9369 .span2 {
  font-weight: bold;
}
#ve7613 .GraphSkin {
  data-skin: CRISP;
}
#ve9592 .span3 {
  font-weight: bold;
}
#ve9575 .span2 {
  font-weight: bold;
}
#ve9575 .span1 {
  font-size: 20px;
}
#ve9570 .ReportElementContainer {
  padding: 5px;
}
#ve9592 .span1 {
  font-size: 20px;
}
#ve9592 .span2 {
  font-weight: bold;
}
#ve9549 .ReportElementContainer {
  padding: 5px;
}
#cd8668 .If {
  color: #B0B7C2;
}
#ve9125 .ReportElementContainer {
  padding: 0px;
}
#ve8760 .ReportElementContainer {
  padding: 0px;
}
#ve7660 .ReportElementContainer {
  padding: 5px;
}
#cd8953 .If {
  color: #F1AE43;
}
#ve7580 .span1 {
  font-weight: bold;
}
#ve7580 .span2 {
  font-weight: bold;
}
#ve7580 .span3 {
  font-weight: bold;
}
.Graph {
  attribute-priority: color;
}
#ve9465 .ReportElementContainer {
  padding: 7px;
}
#ve7540 .span4 {
  font-weight: bold;
}
#ve9152 .GraphSkin {
  data-skin: CRISP;
}
#cd8629 .If {
  color: #B0B7C2;
}
#cd8601 .If {
  color: #DD5757;
}
#ve9575 .ReportElementContainer {
  padding: 7px;
}
#ve8343 .Container {
  background-color: #E9ECEF;
  transparency: 0.7;
}
#ve9346 .span1 {
  font-size: 12px;
}
#ve7540 .span2 {
  font-weight: bold;
}
#ve9390 .Container {
  background-color: #08306B;
  transparency: 0;
}
#ve9469 .Container {
  background-color: #08306B;
  transparency: 0;
}
#ve7540 .span3 {
  color: #FFFFFF;
  font-size: 22px;
}
#ve7540 .span1 {
  color: #FFFFFF;
  font-size: 40px;
}
#ve8760 .styleForTitle_span3 {
  font-weight: bold;
}
#ve9137 .GraphSkin {
  data-skin: CRISP;
}
#ve8721 .LegendFill {
  frame-border: false;
}
#ve9127 .GraphSkin {
  data-skin: CRISP;
}
#ve9460 .ReportElementContainer {
  padding: 5px;
}
#ve8343 .ReportElementContainer {
  padding: 0px;
}
#ve9592 .ReportElementContainer {
  padding: 7px;
}
#ve9127 .LegendFill {
  transparency: 1;
}
#ve8940 .GraphSkin {
  data-skin: CRISP;
}
#ve7668 .GraphDataStyle2 {
  fill-color: #C49545;
}
#ve7648 .Table {
  horizontal-line-style: none;
  vertical-line-style: none;
  color: #FFFFFF;
}
#ve7630 .LegendFill {
  transparency: 1;
}
#ve9594 .Container {
  background-color: #08306B;
  transparency: 0;
}
#ve7602 .styleForTitle_span1 {
  font-weight: bold;
}
#ve8861 .GraphSkin {
  data-skin: CRISP;
}
#ve9465 .span1 {
  font-size: 20px;
}
#ve7540 .ReportElementContainer {
  padding: 10px;
}
#ve7668 .GraphDataStyle1 {
  fill-color: #B0B7C2;
}
#ve9465 .span2 {
  font-weight: bold;
}
#ve9369 .ReportElementContainer {
  padding: 7px;
}
#ve9125 .Container {
  background-color: #E9ECEF;
  transparency: 0.7;
  border-width: 1px;
  border-color: #E9ECEF;
}
#ve7602 .Container {
  background-color: #E9ECEF;
  transparency: 0.7;
}
#ve9137 .HeaderFill {
  transparency: 1;
}
#ve9346 .paragraph1 {
  text-align: right;
}
#cd8641 .If {
  color: #DD5757;
}
.GraphDataStyle3 {
  marker-color: #9DCAE1;
  text-color: #9DCAE1;
  fill-color: #9DCAE1;
  line-color: #9DCAE1;
}
.GraphDataStyle4 {
  marker-color: #C7E3F9;
  text-color: #C7E3F9;
  fill-color: #C7E3F9;
  line-color: #C7E3F9;
}
#ve9587 .ReportElementContainer {
  padding: 5px;
}
#cd8502 .If {
  color: #B0B7C2;
}
#cd8545 .If {
  color: #B0B7C2;
}
.GraphDataStyle1 {
  marker-color: #08306B;
  text-color: #08306B;
  fill-color: #08306B;
  line-color: #08306B;
}
.GraphDataStyle2 {
  marker-color: #1D6CB1;
  text-color: #1D6CB1;
  fill-color: #1D6CB1;
  line-color: #1D6CB1;
}
#ve9554 .span2 {
  font-weight: bold;
}
#ve9554 .span1 {
  font-size: 20px;
}
#cd8588 .If {
  color: #B0B7C2;
}
#ve7668 .TwoColorRamp1 {
  fill-gradient-start-color: #C49545;
}
#ve7602 .ReportElementContainer {
  padding: 0px;
}
#ve7668 .GraphSkin {
  data-skin: NONE;
}
#ve9577 .Container {
  background-color: #08306B;
  transparency: 0;
}
#ve8853 .GraphSkin {
  data-skin: CRISP;
}
#ve7721 .GraphSkin {
  data-skin: CRISP;
}
#ve8861 .HeaderFill {
  transparency: 1;
  fill-color: #EBEDEF;
}
#cd8361 .If {
  color: #B0B7C2;
}
#ve9558 .Container {
  background-color: #08306B;
  transparency: 0;
}
#ve7668 .TwoColorRamp {
  fill-gradient-start-color: #C49545;
}
#cd8517 .If {
  color: #DD5757;
}
#ve9378 .Container {
  background-color: #08306B;
  transparency: 0;
}
#ve7540 .paragraph2 {
  text-align: right;
}
#ve7540 .paragraph1 {
  text-align: right;
}

			